.DS_Store
node_modules
/dist

# Editor directories and files
.idea
.iml.local
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.iml
*.local
.jscpd
/cypress/videos
/cypress/screenshots
/cypress/reports/output
/cypress/reports/report.*

/jest_html_reporters.html
jest_html_reporters.html
src/seo/noresult.txt
coverage
