
.colors {
    border-collapse: collapse;
    width: 40rem;
    th,
    td {
        padding: .5rem;
        text-align: left;
    }
}

.container-global {
    max-width: 100rem;
    margin: 0 auto;
}

.container {
    display: grid;
    grid-template-columns: 5rem 1fr 1fr;
    grid-column-gap: 2rem;
    h2 {
        grid-column: 1/4;
    }
}
