/// don't forget all events on a link
@mixin on-event($self: false) {
    @if $self {
        &,
        &:hover,
        &:active,
        &:focus {
            @content;
        }
    } @else {
        &:hover,
        &:active,
        &:focus {
            @content;
        }
    }
}

/* ===== créer facilement des flèches triangle dans toutes les directions
================================================================================== */

@mixin triangle($size, $color, $direction) {
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: $size / 2;
    @if $direction == up {
        border-bottom-color: $color;
    } @else if $direction == right {
        border-left-color: $color;
    } @else if $direction == down {
        border-top-color: $color;
    } @else if $direction == left {
        border-right-color: $color;
    } @else if $direction == downshadow {
        border-bottom-color: $color;
        border-left-color: $color;
        transform-origin: 0 0;
        transform: rotate(-45deg);
    }
}

/* ===== créer facilement des flèches différentes tailles, couleur et directions
================================================================================== */
@mixin arrow($size, $thickness, $direction) {
    position: relative;
    display: inline-block;
    width: $size * 2;
    height: $size * 2;
    border: .2rem solid transparent;
    transition: transform .3s;
    box-sizing: border-box;
    &::after {
        position: absolute;
        display: block;
        width: $size;
        height: $size;
        content: '';
        border-color: currentColor;
        border-bottom: $thickness solid;
        border-right: $thickness solid;

        @if $direction == down {
            transform: rotate(45deg) translate3d(-.1rem, -.1rem, 0);
        }
        @if $direction == up {
            transform: rotate(225deg);
        }
        @if $direction == left {
            transform: rotate(-225deg);
        }
        @if $direction == right {
            transform: rotate(-45deg);
        }
        &:hover,
        &:focus {
            border-color: currentColor;
        }
    }
}

/* ===== créer des croix (de fermeture) de différentes tailles, épaisseur
================================================================================== */
@mixin cross($container-size, $size, $thickness) {
    position: relative;
    display: block;
    width: $container-size;
    height: $container-size;
    border: .2rem solid transparent;
    &::after,
    &::before {
        position: absolute;
        left: .1rem;
        top: .8rem;
        display: block;
        width: $size;
        height: $thickness;
        content: '';
        background: currentColor;
        transform: rotate(45deg);
        border-radius: .5rem;
    }
    &::after {
        transform: rotate(-45deg);
    }
}

/* ========== Full width
================================================== */
@mixin wrapper-full-width {
    position: relative;
    left: 50%;
    right: 50%;
    width: 100vw;
    margin-left: -50vw;
    margin-right: -50vw;
}

/* ===== Gestion des floats
================================================================================== */
@mixin clearfix {
    display: block;
    clear: both;
    content: ' ';
}

/* ===== Reset des styles boutons
================================================================================== */
@mixin reset-button {
    display: inline-flex;
    align-items: center;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
